html, body {
  margin: 0;
  padding: 0;
  background-color: bisque;
}

div {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
}
p{
  font-size:200%;
}
canvas{
  width:100%;
  height:100%;
}